<div class="pyb-mp-status flex items-center flex-col items-start rounded-sm border-l border-r border-t border-gray-200">
  <div class="flex flex-row w-full justify-between bg-gray-50 border-gray-200 border-b">
    <div class="pyb-mp-status__left flex flex-row items-center flex-row m-5">
      <p class="font-semibold">{{ label }}</p>

      <ng-container *ngIf="statusLoading; else statusTemplate">
        <div class="loader ease-linear rounded-full border-2 border-t h-3 w-3 mx-2"></div>
      </ng-container>

      <ng-template #statusTemplate>
       <span class="flex items-center flex-row">
        <div class="rounded-full bg-gray-200 h-3 w-3 ml-3 mr-2" [ngClass]="statusBgColor"></div>
        <p [ngClass]="statusFontColor">{{ status }}</p>
      </span>
      </ng-template>
    </div>

    <div class="pyb-mp-status__right flex items-center flex-row w-40 h-10 overflow-hidden m-4">
      <img [src]="logo">
    </div>
  </div>

  <div *ngIf="isSetupRequired" class="p-5 w-full border-gray-200 border-b bg-gray-50">
    <ng-content select="content"></ng-content>
    <slot name="content"></slot>
  </div>
</div>
