<div class="p-10 m-5 rounded-sm" [ngClass]="{'bg-red-300': changed, 'bg-green-400': !changed}">
  <div>
    CHILD - {{ value }}

    <button class="ml-10 mr-10 mb-5 bg-transparent font-semibold py-2 px-4 border border-white rounded"
            (click)="emitEvent()">Emit Child Event</button>

    <button class="ml-10 mb-5 bg-transparent font-semibold py-2 px-4 border border-white rounded"
            (click)="emitWorkerEvent()">Emit Child Worker Event</button>
  </div>

  <nested-nested-two [nestedInput]="nestedValue" (nestedOutput)="onNestedOutput($event)"></nested-nested-two>
</div>
